<app-spinner *ngIf="cargando"></app-spinner>

<ng-container *ngIf="!cargando">
    <table class="table table-hover table-striped text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Promedio</th>
                <th scope="col">Quitar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumno of alumnos">
                <th scope="row">{{alumno.id}}</th>
                <td>{{alumno.nombre}}</td>
                <td>{{alumno.apellido}}</td>
                <td>{{alumno.fechaNacieminto | date:'dd/MM/yyyy'}}</td>
                <td [ngClass]="{
                    'text-danger' : alumno.promedio < 4,
                    'text-success' : alumno.promedio > 7,
                    'text-warning' : alumno.promedio < 7
                }">{{alumno.promedio}}</td>
                <td>
                    <button (click)="quitarAlumno(alumno.id)" class="btn btn-danger">
                        QUITAR
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <button (click)="calcularPromedios()" class="btn btn-success">
        CALCULAR PROMEDIOS
    </button>
</ng-container>